<h1 class="welcome-banner">Welcome to the official Diecast'n'Drift website!</h1>
<div class="home-body">
    <div class="items-body">
        <section class="search-section">
            <form>
                <input type="text" placeholder="Filter Items">
                <button class="search-button" type="button">Search</button>
            </form>
        </section>
        <section class="results">
            <app-sale-item 
            *ngFor="let saleItem of saleItemList"
            [saleItem]="saleItem">
            </app-sale-item>
        </section>
    </div>
</div>
    